/* 
 * Add your own CSS code for the WYSIWYG editor 
 */

@font-face {
  font-family: Samim;
  src: url('https://cdn.jsdelivr.net/gh/rastikerdar/samim-font@v4.0.5/dist/Samim.woff'); 
}

body {
  direction: rtl;
  font-family: Samim !important;
}

textarea {
  font-family: Samim !important;
}

